@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");
.main {
  font-family: "Roboto Flex", sans-serif;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  font-family: "Roboto Flex", sans-serif;
  margin: 10px;
  width: 200px;
}
.sibling-content {
  background: rgb(102, 163, 233);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter {
  font-size: 100px;
}
.changer {
  padding: 10px 0 0 0;
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
}
.crossing {
  text-decoration: line-through;
  cursor: pointer;
}
.crossing-2 {
  cursor: pointer;
}
